# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
.vscode/

# Docs
docs/

# Dotenv file
.env

# Anvil logs
anvil.log

# Frontend dev logs
frontend/dev.log

# AI PR comments (work in progress)
.ai/pr/